.search{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0rem;
   label{
      padding: 1rem;
      font-size:25px;
   }
    input,button{
        font-size: 2rem;
        padding: 0.25rem;
        outline: none;
        border: 3px solid  rgb(43, 0, 43);
    }
    button{
        background-color: rgb(73 , 0 ,  73);
        color: white;
        &:hover{
             background-color:rgb(182, 76, 182) ;
             color: black;
             cursor: pointer;
        }
    }
    .onlyComputerItem{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
         
         input[type="checkbox"]{
               width: 25px;
               height: 25px;
                
         }
    }
}